<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
		rel="stylesheet">

	<title>LAZ - Ibadurrahman</title>

	<!-- Additional CSS Files -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link rel="stylesheet" type="text/css" href="assets/css/owl-carousel.css">

	<link rel="stylesheet" type="text/css" href="assets/css/lightbox.css">

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">

	<link rel="icon" type="image/png" href="assets/images/laz-logo-small.jpg">

	<style>
		:root {
			--main-color: #008D40;
			--main-color-2: rgba(0, 255, 0, .2);
			--main-color-3: rgba(0, 255, 0, .6);
		}

		.header-area .main-nav .nav li:hover .label {
			background-color: #cc66cc !important;
			color: #fff !important;
			border-color: #cc66cc;
		}

		.btn-outline-success {
			border-color: var(--main-color) !important;
			color: var(--main-color) !important;
		}

		.btn-outline-success:hover {
			background-color: var(--main-color) !important;
			color: white !important;
		}

		#banner {
			position: relative;
			width: 100%;
			height: 100%;
			min-height: 600px;
			display: table;
			text-align: center;
			background-image: url("assets/images/intro-bg/landing-page-laz.jpg");
			background-size: cover;
			background-attachment: fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
		}

		#banner .banner-content {
			position: absolute;
			bottom: 0;
			top: 53%;
			left: 0;
			right: 65%;
			z-index: 10;
			display: flex;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			text-align: center;
		}
	</style>

</head>

<body>

	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div class="jumper">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->


	<!-- ***** Header Area Start ***** -->
	<header class="header-area header-sticky">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="./" class="logo">
							<img src="assets/images/laz-logo.jpg" alt="laz-ibadurrahman">
						</a>
						<!-- ***** Logo End ***** -->
						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li class="submenu"><a>Tentang Kami</a>
								<ul>
									<li><a href="./laz/about/visi-misi/">Visi dan Misi</a></li>
									<li><a href="./laz/about/salam-sapa/">Salam Sapa</a></li>
									<li><a href="./laz/about/struktur-organisasi/">Struktur Organisasi</a></li>
								</ul>
							</li>
							<li><a href="#programs">Program</a></li>
							<li class="submenu"><a>Layanan</a>
								<ul>
									<li><a href="#service">Gerai</a></li>
									<li><a href="https://donasi.ibadurrahman.org">Donasi</a></li>
								</ul>
							</li>
							<li><a href="#news">Artikel</a></li>
							<li><a href="./lnw/" class="label">Wakaf</a></li>
						</ul>
						<a class='menu-trigger'>
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->

	<!-- ***** Main Banner Area Start ***** -->
	<section id="banner">
		<div class="banner-content">
			<!-- <h1 style="font-weight: 700;">Layanan Amil Zakat <br><span>Ibadurrahman</span></h1> -->
			<div>
				<a href="#donation" class="btn btn-light m-3 shadow" style="border-radius: 30vh; padding: 2vh 10vh;">Mari Bayar
					Zakat</a>
			</div>
		</div>

	</section><!-- #intro -->
	<!-- ***** Main Banner Area End ***** -->

	<div id="vue-app">

		<!-- ***** News and Article Starts ***** -->
		<section class="section" id="news">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 offset-lg-4 text-center">
						<div class="section-heading">
							<h6>Artikel</h6>
							<h2>Ada info apa ni di LAZ Ibadurrahman</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<table id="table-paginate" class="table table-borderless table-fit" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="no-sort" style="max-width:20vh"></th>
							<th style="min-width: 60vh;">Artikel</th>
							<th class="no-sort"></th>
						</tr>
					</thead>
					<tbody>
						<template v-for="item in article" :key="item">
							<tr>
								<td><img class="img" :src="'/assets/images/article/' + item.img"></td>
								<td>
									<h4>{{item.title}}</h4>
									<p>{{item.highlight}} <a :href="'laz/article/' + item.link">read more..</a></p>
									<p style="font-size: 11px; float: right;"> {{item.date}} - {{item.type}} ditulis oleh: {{item.author}}
									</p>
								</td>
								<td class="text-center align-middle"><a :href="'laz/article/' + item.link"><button
											class="btn btn-outline-success">
											Baca Artikel</button></a></td>
							</tr>
						</template>
					</tbody>
				</table>
			</div>

		</section>
		<!-- ***** News and Article Area Ends ***** -->

		<!-- ***** Donation Us Area Starts ***** -->
		<section class="section" id="donation">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 align-self-center">
						<div class="left-text-content">
							<div class="section-heading">
								<h6>Donasi mu</h6>
								<h2>Disini kamu bisa bayar zakat dengan mudah</h2>
							</div>
							<p>Fasilitas pembayaran ZISWAF di LAZ Ibadurrahman telah menyediakan mesin EDC di kantor pelayanan bagi
								yang
								tidak ingin repot tarik tunai.
								<br><br>Kami juga memiliki layanan auto debet di Bank Mandiri dan BSI serta mesin penghitung uang untuk
								menghindari adanya uang palsu.
							</p>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="contact-form">
							<form id="contact">
								<div class="row">
									<div class="col-lg-6">
										<div class="phone">
											<i class="fa fa-phone"></i>
											<h4>Jemput Zakat</h4>
											<span><a target="_blank" href="https://wa.me/+6285265531560">0852-6553-1560</a><br>
												<p>(08.00 - 16.00)</p>
											</span>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="phone">
											<i class="fa fa-phone"></i>
											<h4>Konsultasi Zakat</h4>
											<span><a target="_blank" href="https://wa.me/+6281275753275">0812-7575-3275 (M. Hasbi
													Alhudri)</a><br><a target="_blank" href="https://wa.me/+6285265531560">0852-6553-1560 (Kantor
													LAZ)</a></span>
										</div>
									</div>
									<div class="col-lg-12">
										<a href="https://donasi.ibadurrahman.org">
											<button type="button" style="width: 100%;" class="btn btn-outline-success">Donasi
												Sekarang</button>
										</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ***** Donation Area Ends ***** -->

		<!-- ***** Program Area Starts ***** -->
		<section class="section" id="programs">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="section-heading">
							<h6>Program</h6>
							<h2>Cari tau yuk di LAZ ada program apa aja</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 con">
					<div class="row" id="tabs">
						<div class="col-lg-12">
							<div class="heading-tabs">
								<div class="row">
									<div class="col-lg-6 offset-lg-3">
										<ul>
											<li><a href='#tabs-1'><img src="../assets/images/icon/open-book-green.svg" alt="">Pendidikan</a>
											</li>
											<li><a href='#tabs-2'><img src="../assets/images/icon/social-care-green.svg" alt="">Sosial</a>
											</li>
											<li><a href='#tabs-3'><img src="../assets/images/icon/empowerment-green.svg"
														alt="">Pemberdayaan</a></li>
											<li><a href='#tabs-4'><img src="../assets/images/icon/ramadan-green.svg" alt="">Dakwah</a></li>
											<li><a href='#tabs-5'><img src="../assets/images/icon/heartbeat-green.svg" alt="">Kesehatan</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-11 offset-md-1">
							<section class='tabs-content'>
								<article id='tabs-1'>
									<div class="row">
										<template v-for="(item, index) in program.pendidikan" :key="item">
											<div class="col-lg-6">
												<div class="tab-item">
													<img src="../assets/images/icon/right-arrow-green.svg" alt="">
													<h4>{{item.title}}</h4>
													<p>{{item.content}}</p>
												</div>
											</div>
										</template>
									</div>
								</article>
								<article id='tabs-2'>
									<div class="row">
										<template v-for="(item, index) in program.sosial" :key="item">
											<div class="col-lg-6">
												<div class="tab-item">
													<img src="../assets/images/icon/right-arrow-green.svg" alt="">
													<h4>{{item.title}}</h4>
													<p>{{item.content}}</p>
												</div>
											</div>
										</template>
									</div>
								</article>
								<article id='tabs-3'>
									<div class="row">
										<template v-for="(item, index) in program.pemberdayaan" :key="item">
											<div class="col-lg-6">
												<div class="tab-item">
													<img src="../assets/images/icon/right-arrow-green.svg" alt="">
													<h4>{{item.title}}</h4>
													<p>{{item.content}}</p>
												</div>
											</div>
										</template>
									</div>
								</article>
								<article id='tabs-4'>
									<div class="row">
										<template v-for="(item, index) in program.dakwah" :key="item">
											<div class="col-lg-10">
												<div class="tab-item">
													<img src="../assets/images/icon/right-arrow-green.svg" alt="">
													<h4>{{item.title}}</h4>
													<p>{{item.content}}</p>
												</div>
											</div>
										</template>
									</div>
								</article>
								<article id='tabs-5'>
									<div class="row">
										<template v-for="(item, index) in program.kesehatan" :key="item">
											<div class="col-lg-6">
												<div class="tab-item">
													<img src="../assets/images/icon/right-arrow-green.svg" alt="">
													<h4>{{item.title}}</h4>
													<p>{{item.content}}</p>
												</div>
											</div>
										</template>
									</div>
								</article>
							</section>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ***** Program Area Ends ***** -->

		<!-- ***** Service Area Starts ***** -->
		<section class="section" id="service">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 offset-lg-4 text-center">
						<div class="section-heading">
							<h6>Layanan</h6>
							<h2>Kami siap layani zakatmu</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<div class="chef-item">
							<div class="thumb">
								<div class="overlay"></div>
								<ul class="social-icons">
									<li><a href="https://wa.me/+6282285099993" target="_blank"><i class="fa fa-phone"></i></a></li>
								</ul>
								<img src="../assets/images/gerai/gerai-batin-solapan.jpeg" alt="Gerai #1">
							</div>
							<div class="down-content">
								<h4>Gerai Batin Solapan</h4>
								<span>Jl. Lintas Duri-Dumai KM 19 <br>Madjid Al-Hidayah</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="chef-item">
							<div class="thumb">
								<div class="overlay"></div>
								<ul class="social-icons">
									<li><a href="https://wa.me/+6282160911117" target="_blank"><i class="fa fa-phone"></i></a></li>
								</ul>
								<img src="../assets/images/gerai/gerai-pinggir.jpeg" alt="Gerai #2">
							</div>
							<div class="down-content">
								<h4>Gerai Pinggir</h4>
								<span>Jl. Batin Mojolelo sebelah <br>Masjid Raya Pinggir</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="chef-item">
							<div class="thumb">
								<div class="overlay"></div>
								<ul class="social-icons">
									<li><a href="https://wa.me/+6281268666129" target="_blank"><i class="fa fa-phone"></i></a></li>
								</ul>
								<img src="../assets/images/gerai/gerai-srewangi.jpeg" alt="Gerai #3">
							</div>
							<div class="down-content">
								<h4>Gerai Talang Mandau</h4>
								<span>Jl. Sultan Syarif Kasim RT/RW 003/004 Srewangi</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="chef-item">
							<div class="thumb">
								<div class="overlay"></div>
								<ul class="social-icons">
									<li><a href="https://wa.me/+6282284796989" target="_blank"><i class="fa fa-phone"></i></a></li>
								</ul>
								<img src="../assets/images/gerai/gerai-sukamaju.jpeg" alt="Gerai #3">
							</div>
							<div class="down-content">
								<h4>Gerai Sei Meranti</h4>
								<span>Depan Masjid Arridho <br>Sei Meranti</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ***** Service Area Ends ***** -->

	</div>

	<!-- ***** Footer Start ***** -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-xs-12">
					<div class="right-text-content">
						<ul class="social-icons">
							<li><a href="https://web.facebook.com/Lazibadurrahman/?_rdc=1&_rdr" target="_blank"><i
										class="fa fa-facebook"></i></a>
							</li>
							<li><a href="https://www.instagram.com/lazlnwibadurrahman/" target="_blank"><i
										class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UCmecmMPEBXm96_Q37g8v-TQ/videos" target="_blank"><i
										class="fa fa-youtube-play"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 col-xs-12">
					<div class="left-text-content">
						<p> All right deserved <br>©2021
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- ***** Whatsapp link Start ***** -->
	<div class="chat js-chat">

		<div class="chat__messenger">

			<!-- E-mail -->
			<a href="mailto:upz.ibad@yahoo.com" class="chat__messenger-item">
				<img src="../assets/images/chat/email.svg" target="_blank" alt="icon E-mail" class="chat__messenger-icon">
				<span class="chat__messenger-name">E-mail</span>
			</a>

			<!-- Messenger -->
			<a href="https://m.me/Lazibadurrahman" class="chat__messenger-item" target="_blank" rel="noopener">
				<img src="../assets/images/chat/facebook.svg" alt="icon Facebook" class="chat__messenger-icon">
				<span class="chat__messenger-name">Messenger</span>
			</a>

			<!-- Instagram -->
			<a href="https://www.instagram.com/lazlnwibadurrahman/" class="chat__messenger-item" target="_blank"
				rel="noopener">
				<img src="../assets/images/chat/instagram.svg" alt="icon Instagram" class="chat__messenger-icon">
				<span class="chat__messenger-name">Instagram</span>
			</a>

			<!-- WhatsApp -->
			<a href="https://wa.me/+6285265531560" class="chat__messenger-item" target="_blank" rel="noopener">
				<img src="../assets/images/chat/whatsapp.svg" alt="icon WhatsApp" class="chat__messenger-icon">
				<span class="chat__messenger-name">Whatsapp</span>
			</a>
		</div>
		<div class="chat__icon">
			<img src="../assets/images/chat/chat.svg" alt="icon live chat is open" class="chat__icon-message">
			<img src="../assets/images/chat/cross.svg" alt="icon live chat is closed" class="chat__icon-close">
		</div>
	</div>
	<!-- ***** Whatsapp link Ends ***** -->

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

	<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

	<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

	<!-- Bootstrap -->
	<script src="assets/js/popper.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="assets/js/owl-carousel.js"></script>
	<script src="assets/js/accordions.js"></script>
	<script src="assets/js/datepicker.js"></script>
	<script src="assets/js/scrollreveal.min.js"></script>
	<script src="assets/js/waypoints.min.js"></script>
	<script src="assets/js/jquery.counterup.min.js"></script>
	<script src="assets/js/imgfix.min.js"></script>
	<script src="assets/js/slick.js"></script>
	<script src="assets/js/lightbox.js"></script>
	<script src="assets/js/isotope.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-carousel"></script>

	<!-- Global Init -->
	<script src="assets/js/custom.js"></script>
	<script src="laz/app.js"></script>
</body>

</html>